<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="sidemenu-wrapper sidemenu-info ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget  ">
                <div class="th-widget-about">
                    <div class="about-logo">
                        <a href="home-medical-clinic.html"><img src="/img/logo.svg" alt="Mediax"></a>
                    </div>
                    <p class="about-text">Subscribe to out newsletter today to receive latest news administrate cost effective for tactical data.</p>
                    <p class="footer-info">
                        <i class="fal fa-location-dot"></i>
                        2478 Street City Ohio 90255
                    </p>
                    <p class="footer-info">
                        <i class="fal fa-envelope"></i>
                        <a href="mailto:info@mediax.com" class="info-box_link">info@mediax.com</a>
                    </p>
                    <p class="footer-info">
                        <i class="fal fa-phone"></i>
                        <a href="tel:+40276328246" class="info-box_link">+(402) 763 282 46</a>
                    </p>
                    <div class="th-social">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
            <div class="widget  ">
                <h3 class="widget_title">Let’s Stay In Touch</h3>
                <div class="newsletter-widget">
                    <p class="footer-text">Subscribe for newsletter</p>
                    <form action="#" class="newsletter-form">
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Enter Email" required="">
                        </div>
                        <button type="submit" class="simple-icon"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                    <div class="form-group">
                        <input type="checkbox" id="checkboxagree" name="checkboxagree">
                        <label for="checkboxagree">I agree with the terms & conditions</label>
                    </div>
                    <div class="btn-group">
                        <a href="https://play.google.com/" class="img-btn">
                            <img src="/img/normal/apple_store.png" alt="icon">
                        </a>
                        <a href="https://play.google.com/" class="img-btn">
                            <img src="/img/normal/play_store.png" alt="icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>