<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
<!--    <div class="nk-block-head nk-block-head-lg">-->
<!--        <div class="nk-block-head-content">-->
<!--            <h2 class="nk-block-title fw-normal" wicket:id="title">Regular Page Title</h2>-->
<!--&lt;!&ndash;            <div class="nk-block-des">&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="lead">We love to share ideas! Visit our blog if you're looking for great articles or inspiration to get you going.</p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>&lt;!&ndash; .nk-block &ndash;&gt;-->
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal" wicket:id="title">Regular Page Title</h2>
                <div class="nk-block-des text-soft">
                    <p  wicket:id="description">You can add a medicine by fil these field.</p>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
</wicket:panel>
</body>
</html>