<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>
    <div class="nk-block-head nk-block-head-lg">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h5 class="title fw-medium">Paramètres</h5>
                <span>Ici vous pouvez faire des changements selon vos besoins</span>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content align-self-start d-lg-none">
                <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
            </div>
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div wicket:id="feedback"></div>
        <form wicket:id="form" class="form-settings">
            <div class="row g-3 align-center">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="form-label" for="site-name">Nom</label>
                        <span class="form-note">Specifier le nom de votre pharmacie</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" wicket:id="nomPharma" class="form-control" id="site-name" value="Dashlite">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 align-center">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="form-label" for="site-email">Adresse</label>
                        <span class="form-note">Specifier la localisation de la pharmacie</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" wicket:id="adressePharma" class="form-control" id="pharma-address" value="Softnio Street 3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 align-center">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="form-label" for="site-email">Téléphone</label>
                        <span class="form-note">Specifier le numéro de téléphone pour joindre la pharmacie</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" wicket:id="telPharma" class="form-control" id="site-email" value="Softnio Street 3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 align-center">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="form-label" for="site-email">Email</label>
                        <span class="form-note">Specifier l'adresse électronique de la pharmacie</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="email" wicket:id="emailPharma" class="form-control" id="site-email" value="Softnio Street 3">
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="row g-3 align-center">-->
<!--                <div class="col-lg-5">-->
<!--                    <div class="form-group">-->
<!--                        <label class="form-label" for="site-copyright">Copyright</label>-->
<!--                        <span class="form-note">Copyright information of your hospital.</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-7">-->
<!--                    <div class="form-group">-->
<!--                        <div class="form-control-wrap">-->
<!--                            <input type="text" class="form-control" id="site-copyright" value="&copy; 2023, DashLite. All Rights Reserved.">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row g-3 align-center">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="form-label" for="site-name">Description</label>
                        <span class="form-note">Parlez un peu de votre pharmacie</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <div class="form-control-wrap">
                                <textarea wicket:id="descriptionPharma" class="form-control form-control no-resize" placeholder="Hello World!">

                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 align-center">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="form-label">Thème de couleur</label>
                        <span class="form-note">Choisissez entre un thème plus lumineux et un autre plus terne</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <ul class="custom-control-group g-3 align-center flex-wrap" wicket:id="themeGroup">
                        <li>
                            <div class="custom-control custom-radio">
                                <input type="radio" wicket:id="themeClair" class="custom-control-input" checked name="reg-public" id="reg-enable">
                                <label class="custom-control-label" for="reg-enable">Clair</label>
                            </div>
                        </li>
                        <li>
                            <div class="custom-control custom-radio">
                                <input type="radio" wicket:id="themeSombre" class="custom-control-input" name="reg-public" id="reg-disable">
                                <label class="custom-control-label" for="reg-disable">Sombre</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
<!--            <div class="row g-3 align-center">-->
<!--                <div class="col-lg-5">-->
<!--                    <div class="form-group">-->
<!--                        <label class="form-label">Main Site</label>-->
<!--                        <span class="form-note">Specify the URL if your main website is external.</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-7">-->
<!--                    <div class="form-group">-->
<!--                        <div class="form-control-wrap">-->
<!--                            <input type="text" class="form-control" name="site-url" value="https://www.softnio.com">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row g-3 align-center">-->
<!--                <div class="col-lg-5">-->
<!--                    <div class="form-group">-->
<!--                        <label class="form-label" for="site-off">Thème de couleur</label>-->
<!--                        <span class="form-note">Choisissez entre un thème plus lumineux et un autre plus terne</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-7">-->
<!--                    <div class="form-group">-->
<!--                        <div class="custom-control custom-switch">-->
<!--                            <input type="checkbox" class="custom-control-input" name="reg-public" id="site-off">-->
<!--                            <label class="custom-control-label" for="site-off">Offline</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row g-3">
                <div class="col-lg-7">
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-lg btn-primary">Mettre à jour</button>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- .nk-block-head -->
</wicket:extend>
</body>
</html>