<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div wicket:id="detailContainer">
        <form wicket:id="form">
            <div class="card card-bordered">
                <div class="card-inner">

                    <!--                    <label class="form-label"></label>-->
                    <!--                    <input type="text" wicket:id="vente.nomClient" class="form-control"/>-->

                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label" for="site-name">Nom du Client</label>
                                <!--                                <span class="form-note">Specify the name of your website.</span>-->
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <input type="text" wicket:id="vente.nomClient" class="form-control" id="vente.nomClient" value="Nom du client">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <br>
                        <table class="table row mb-0 table-retrieve">
                            <tbody>
                            <tr class="col-md-12 gy-4" wicket:id="detailVenteList">
                                <td class="col-md-7">
                                    <!--                                        <div class="form-group">-->
                                    <!--                                            <label class="form-label" for="name">Produit</label>-->
                                    <!--                                            <input wicket:id="produitAVendre" type="text" class="form-control" id="name" placeholder="Medicine Name" required>-->
                                    <!--                                        </div>-->
                                    <div class="form-group">
                                        <label class="form-label">Produit</label><br>
                                        <div class="form-control-wrap">
                                            <input type="text" wicket:id="produit-name" class="form-control" placeholder="Produit à restocker" />
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label" for="generic">Prix unitaire</label>
                                        <input wicket:id="prixUnitaire" type="number" class="form-control" id="generic" placeholder="Generic Name">
                                    </div>
                                </td>
                                <td class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Quantité</label>
                                        <input type="number" wicket:id="quantiteVendue" class="form-control">
<!--                                        <div class="form-control-wrap number-spinner-wrap">-->
<!--                                            <button class="btn btn-icon btn-outline-light number-spinner-btn number-minus" data-number="minus"><em class="icon ni ni-minus"></em></button>-->
<!--                                            <button class="btn btn-icon btn-outline-light number-spinner-btn number-plus" data-number="plus"><em class="icon ni ni-plus"></em></button>-->
<!--                                        </div>-->
                                    </div>
<!--                                    <div class="col-xxl-3 col-md-6">-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="form-label">Prix unitaire</label>-->
<!--                                            <div class="form-control-wrap number-spinner-wrap">-->
<!--                                                <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-minus" data-number="minus"><em class="icon ni ni-minus"></em></button>-->
<!--                                                <input type="number" wicket:id="prixUnitaire" class="form-control number-spinner" placeholder="number" value="20" step="5">-->
<!--                                                <button type="button" class="btn btn-icon btn-outline-light number-spinner-btn number-plus" data-number="plus"><em class="icon ni ni-plus"></em></button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; .col &ndash;&gt;-->
                                </td>
                                <td class="d-flex align-items-center">
                                    <a wicket:id="removeLink" href="#" class="btn btn-icon btn-primary"><em class="icon ni ni-minus"></em></a>
                                </td>

                                <!--                                        <div wicket:id="produitspanel"></div>-->
                            </tr>

                            </tbody>

                        </table>


                        <!--                            <a wicket:id="addLink" href="#" class="btn btn-icon btn-primary"><em class="icon ni ni-plus"></em></a>-->
                        <br><br>

                        <!--                        <div class="col-xxl-3 col-md-4">-->
                        <!--                            <div class="form-group">-->
                        <!--                                <label class="form-label" for="name">Produit</label>-->
                        <!--                                <input wicket:id="" type="text" class="form-control" id="name" placeholder="Medicine Name" required>-->
                        <!--                            </div>-->
                        <!--                        </div>&lt;!&ndash;col&ndash;&gt;-->
                        <!--                        <div class="col-xxl-3 col-md-4">-->
                        <!--                            <div class="form-group">-->
                        <!--                                <label class="form-label" for="generic">Prix unitaire</label>-->
                        <!--                                <input wicket:id="prixUnitaire" type="number" class="form-control" id="generic" placeholder="Generic Name">-->
                        <!--                            </div>-->
                        <!--                        </div>&lt;!&ndash;col&ndash;&gt;-->
                        <!--                        <div class="col-xxl-3 col-md-4">-->
                        <!--                            <div class="form-group">-->
                        <!--                                <label class="form-label" for="sKU">Quantité</label>-->
                        <!--                                <input wicket:id="quantiteVendue" type="number" class="form-control" id="sKU" placeholder="SKU">-->
                        <!--                            </div>-->
                        <!--                        </div>&lt;!&ndash;col&ndash;&gt;-->

                    </div><!--row-->
                    <!--                    <div class="col-12">-->
                    <!--                        <div class="form-group">-->
                    <!--                            <button wicket:id="submit" class="btn btn-primary">Enregistrer vente</button>-->
                    <!--                        </div>-->
                    <!--                    </div>&lt;!&ndash;col&ndash;&gt;-->

                    <div class="col-12">
                        <div class="form-group">
                            <button wicket:id="submit-link" class="btn btn-primary">Enregistrer vente</button>
                            <button wicket:id="cancel" class="btn btn-danger">Annuler</button>
                        </div>
                    </div><!--col-->

                </div><!-- .card-inner-group -->

            </div><!-- .card -->
        </form>
    </div>
</wicket:panel>
</body>
</html>